{% extends "0_1_base.html" %}

{% block content %}
    <div class="text-center mt-5">
        <h1>Smart Employee Appraisal System</h1>
    </div>
    <div class="text-center mt-4">
        {% if current_user.is_authenticated %}
            <h2>{{ employee.name }}, Skill score {{ employee.skill_points }} &
                {% if employee.achievement_badge == 'Gold' %}
                    <span>🥇 Gold</span>
                {% elif employee.achievement_badge == 'Silver' %}
                    <span>🥈 Silver</span>
                {% elif employee.achievement_badge == 'Bronze' %}
                    <span>🥉 Bronze</span>
                {% else %}
                    <span>🛡️ Beginner</span>
                {% endif %}
                badged!
            </h2>
            <br>
            <a class="btn {% if active_page == 'leaderboard' %}btn-info{% else %}btn-outline-dark{% endif %}" href="{{ url_for('leaderboard') }}">Leaderboard</a>
            <a class="btn {% if active_page == 'employeeProfile' %}btn-info{% else %}btn-outline-dark{% endif %}" href="{{ url_for('employeeProfile') }}">Employee Profile</a>
            <a class="btn btn-outline-dark">Skill Assessment</a>
            <a class="btn btn-outline-dark">Goal Setting</a>
            <a class="btn btn-outline-dark">Recommend Development Plan</a>
            <a class="btn btn-outline-danger" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}">Login</a>
            <a class="btn btn-secondary btn-lg" href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </div>
    <div class="row">
        <div>
            {% block profile_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
