{% extends "0_1_base.html" %}

{% block content %}
    <div class="text-center mt-5">
        <h1>Smart Employee Appraisal System Admin</h1>
    </div>

    <div class="text-center mt-4">
        {% if current_user.is_authenticated %}
            <a class="btn {% if active_adminpage == 'addEmployee' %}btn-warning{% else %}btn-outline-warning{% endif %}"  href="{{ url_for('addEmployee') }}">Admin Add Employee</a>
            <a class="btn {% if active_adminpage == 'bulkAddEmployee' %}btn-warning{% else %}btn-outline-warning{% endif %}" href="{{ url_for('bulkAddEmployee') }}">Admin Bulk Upload</a>
            <a class="btn btn-outline-warning">Admin Change Role</a>
            <a class="btn btn-outline-danger" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}">Login</a>
            <a class="btn btn-secondary btn-lg" href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </div>
    <div class="row">
        <div>
            {% block admin_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
