{% extends "index.html" %}

{% block profile_content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        {% for employee in employees %}
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header outline-dark text-black text-center">
                    <h3>{{ employee.name }}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-text"><strong>Employee ID:</strong> {{ employee.employee_id }}</p>
                            <p class="card-text"><strong>Date of Joining:</strong> {{ employee.date_of_joining }}</p>
                            <p class="card-text"><strong>Email:</strong> {{ employee.email }}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text"><strong>Current Role:</strong> {{ employee.current_role }}</p>
                            <p class="card-text"><strong>Past Roles:</strong> {{ employee.past_roles }}</p>
                            <p class="card-text"><strong>Skills:</strong> {{ employee.skills }}</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <p class="card-text"><strong>Experience:</strong> {{ employee.experience }} years</p>
                            <p class="card-text"><strong>Educational Background:</strong> {{ employee.educational_background }}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text"><strong>Skill Points:</strong> {{ employee.skill_points }}</p>
                            <p class="card-text"><strong>Achievement Badge:</strong> {{ employee.achievement_badge }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
